<suite name="Sanity Suite" parallel="tests" thread-count="4">
    <test name="MVPTests">
        <parameter name="platform" value="${platform}"  />
        <classes>
            <class name="loginUser" />
            <class name="createRepository"/>
            <class name="createCommit"/>
            <class name="createPullRequest"/>
        </classes>
    </test>
</suite>